.container {
    width: 1300px;
    margin: auto;
    outline: solid 1px black;
}
.tittle-flex {
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.banner-flex {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}
.about-flex {
    display: flex;
}
.about-flex .about {
    width: 50%;
    height: 650px;
    outline: solid 1px;
}
.about-flex .playbutton {
    position: absolute;
    padding-left: 410px;
    padding-top: 400px;
    font-size: 70px;
    border-radius: 100%;
    background-color: 2px 2px 10px #2196f3;
}
.features-flex {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;   
}
.features-flex .feature-box {
    width: 33.33%;
    height: 200px;
    padding: 20px 30px;
    border: solid 1px #ccc;
    border-top: 0px;
    box-sizing: border-box;
}
.feature-box h4 {
    padding-left: 20px;
    font-size: 30px;
    color: skyblue;
}
.feature-box h3 {
    padding-left: 20px;
    font-size: 30px;
}
.feature-box p {
    padding-left: 20px;
    font-size: 15px;
}
.feature-box h4 {
    padding-bottom: 20px;
}
.feature-box h3 {
    padding-bottom: 20px;
}
.achivement-flex {
    display: flex;
    background-color: lightblue;
}
.achivement-flex .number {
    width: 25%;
    height: 150px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px #222;
}
.achivement-flex .number h2 {
    font-size: 40px;
    color: blue;
}
.service {
    padding-top: 80px;
    padding-bottom: 80px;
}
.tittle-service {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    font-size: 38px;
    color: darkblue;
}
.service-flex {
    display: flex;
    flex-wrap: wrap;
}
.service-flex .idea {
    width: 33.33%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    padding-bottom: 30px;
    height: 200px;
}
.service-flex .idea {
    text-align: center;
}
.idea h2 {
    font-size: 20px;
}
.portfolio-flex {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-flex .image {
    width: 33.33%;
    height: 400px;
    outline: solid 1px black;
}
.team-flex {
    display: flex;
    flex-wrap: wrap;
}
.team-flex .members {
    width: 25%;
    height: 400px;
    outline: solid 1px black;
}
.faq-flex {
    display: flex;
    flex-wrap: wrap;
}
.faq-flex .text {
    width: 50%;
    height: 400px;
    outline: solid 1px black;
}
.quickcontact-flex {
    display: flex;
    height: 400px;
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
}
.footer-flex .address {
    width: 25%;
    height: 300px;
    outline: solid 1px black;
}
.legel-flex {
    display: flex;
    justify-content: center;
    height: 70px;
}
    