*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.tittle-flex {
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.banner-flex {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}
.about-flex {
    display: flex;
}
.about-flex .about1 {
    width: 100%;
    height: 650px;
    outline: solid 1px;
    overflow: hidden;
}
.about1 img{
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    height: 650px;
}
.about2 {
    text-align: center;
    justify-content: center;
    overflow: hidden;
}
.about-content  h2 {
    font-size: 32px;
    font-weight: 600;
    padding-top: 80px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    color: #5c768d;
}
.about-content p {
    font-size: 18px;
    font-weight: 100;
    
}
.finger-text{
    display: flex;
    margin-left: 35px;
    padding-top: 50px;
}
.finger-text .logo-finger {
    width: 70px;
    height: 70px;
    font-size: 30px;
    margin-left: 20px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #f1f7fb;
}
.logo-finger:hover {
    background-color: #428bca;
}
.logo-finger a {
    text-decoration: none;
}
.logo-finger i {
    font-size: 30px;
}
.finger-text .paragraph1 h3 {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.finger-text .paragraph1 p {
    text-align: left;
    padding-left: 10px;
}
.gift-text {
    display: flex;
    margin-left: 35px;
    padding-top: 50px;
}
.gift-box i {
    color: #2196f4;
    font-size: 30px;
}
.gift-text .gift-box {
    width: 70px;
    height: 70px;
    font-size: 30px;
    border-radius: 6px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #f1f7fb;
}
.gift-box:hover {
    background-color: #428bca;
}
.gift-box a {
    text-decoration: none;
}
.gift-text .paragraph2 h3 {
    text-align: left;
    font-size: 25px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gift-text .paragraph2 p {
    text-align: left;
    padding-left: 10px;
}
.features-flex {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;   
}
.features-flex .feature-box {
    width: 33.33%;
    height: 200px;
    padding: 20px 30px;
    border: solid 1px #ccc;
    border-top: 0px;
    box-sizing: border-box;
}
.feature-box h4 {
    padding-left: 20px;
    font-size: 30px;
    color: skyblue;
}
.feature-box h3 {
    padding-left: 20px;
    font-size: 30px;
}
.feature-box p {
    padding-left: 20px;
    font-size: 15px;
}
.feature-box h4 {
    padding-bottom: 20px;
}
.feature-box h3 {
    padding-bottom: 20px;
}
.feature-box:nth-child(1) {
    border-left: 0px;
    border-right: 0px;
}
.feature-box:nth-child(3) {
    border-left: 0px;
    border-right: 0px;
}
.feature-box:nth-child(4) {
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
.feature-box:nth-child(5) {
    border-bottom: 0px;
}
.feature-box:nth-child(6) {
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
}
.achivement-flex {
    display: flex;
    margin-top: 40px;
    background-color: #b8d4eb;
}
.achivement-flex .number {
    width: 25%;
    height: 150px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px #222;
}
.achivement-flex .number h2 {
    font-size: 40px;
    color: blue;
}
.service {
    padding-top: 80px;
    padding-bottom: 80px;
}
.tittle-service {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    font-size: 38px;
    color: darkblue;
}
.service-flex {
    display: flex;
    flex-wrap: wrap;
}
.service-flex .idea {
    width: 33.33%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    padding-bottom: 30px;
}
.service-flex .idea {
    text-align: center;
}
.idea .logo {
    width: 70px;
    height: 70px;
    background-color: rgb(210, 250, 250);
    margin-left: 45%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 100%;
    margin: 0 auto 25px;
    box-shadow: 0px 0px 10px #607b8b;
}
.idea .logo i {
    font-size: 35px;
    color: #2196f4;
}
.logo:hover {
    box-shadow: 0px 0px 30px #428bca;
    transition: all 0.5s;
}
.servicehr {
    width: 60px;
    height: 2px;
    background-color: #2196f3;
    padding-left: 30px;
}
.idea h2 {
    font-size: 30px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.portfolio-flex {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-box {
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.image {
    position: relative;
    overflow: hidden;
    width:100%;
    height: auto;
}
.image img {
    width: 417px;
    height: 267px;
    transition: all 0.5s ease;
}
.image:hover img {
    transform: scale(1.1);
}
.portfolio-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.30);
    opacity: 0;
    transition: all 0.5s ease;
}
.image:hover .portfolio-text {
    opacity: 1;
}
.portfolio-info {
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.5s ease;
}
.image:hover .portfolio-info {
    transform: translateY(0px);
    opacity: 1;
}
.portfolio-info h5 {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.portfolio-info h6 {
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.portfolio-icons {
    display: flex;
    justify-content: space-around;
}
.portfolio-icons a {
    width: 30px;
    height: 30px;
    background-color: #fff;
    column-gap: #000;
    display: block;
    border-radius: 100%;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    line-height: 30px;
    margin: 0 5px;
}
.team {
    padding-top: 20px;
    padding-bottom: 40px;
}
.team-box {
    display: flex;
}
.team-info {
    position: relative;
    margin-right: 10px;
}
.team-info .members {
    overflow: hidden;
    border-radius: 5px;
}
.team-info .members img {
    width: 100%;
    height: auto;
    display: block;
    transition: all .5s ease;
}
.team-info:hover .members img {
    transform: scale(1.1);

}
.team-text {
    background-color: rgba(0, 0, 0, 0.41);
    padding: 20px 20px;
    text-align: center;
    position: absolute;
    bottom: -43px;
    left: 3%;
    width: 80%;
    border-radius: 5px;
}
.team-text h5 {
    color: #fff;
    font-size: 20px;
}
.team-text .hrline {
    width: 50px;
    height: 2px;
    background-color: #fff;
    margin: 8px auto;
}
.team-text h6 {
    color: #fff;
    font-size: 15px;
    padding-bottom: 10px;
}
.team-icon a {
    text-decoration: none;
    color: #fff;
    font-size: 20px; 
    transition: all .4s ease;  
}
.team-icon a:hover {
    color: blue;
}
.team-icon a .icofont-instagram{
    margin-right: 3px;
}
.faq {
    padding-top: 40px;
    padding-bottom: 40px;
}
.faq-flex {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.faq-flex .faq-head {
    width: 100%;
    display: flex;
    text-align: center;
}
.faq-flex .faq-head h3{
    font-size: 30px;
    color: #2196f3;
}
.faq-flex .text-1 {
    width: 50%;
    height: 500px;
}
.faq-flex .text-1 h4 {
    font-size: 25px;
    font-weight: 600;
    color: rgb(12, 49, 78);
}
.faq-flex .text-1 p {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.faq-flex .text-2 {
    width: 50%;
    height: 500px;
}
.faq-flex .text-2 h4 {
    font-size: 25px;
    font-weight: 600;
    color: rgb(12, 49, 78) ;
}
.faq-flex .text-2 p {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.information {
    width: 100%;
    display: flex;
}
.quickcontact-flex {
    /* display: flex; */

}
.contact-info{
    display: flex;
}

.address {
    width: 50%;
    height: 150px;
    margin: 30px;
    box-shadow: 0 0 10px 0;
}
.address-icon i {
    font-size: 35px;
    text-align: center;
    justify-content: center;
    display: flex;
    color: #2196f4;
    padding-top: 20px;
} 
.address-head h3 {
    font-size: 25px;
    font-weight: 600;
    color: #253f50;
    text-align: center;
    padding-top: 20px;
}
.address-head p {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}
.mail {
    width: 50%;
    height: 150px;
    margin: 20px;
    box-shadow: 0 0 10px 0;
}
.mail-icon i {
    font-size: 35px;
    color: #2196f4;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
}
.mail-head h3 {
    font-size: 25px;
    font-weight: 600;
    color: #253f50 ;
    text-align: center;
    padding-top: 20px;
}
.mail-head p {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}
.call {
    width: 50%;
    height: 150px;
    margin: 20px;
    box-shadow: 0 0 10px 0;
}
.call-icon i {
    font-size: 35px;
    color: #2196f4;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
}
.call-head h3 {
    font-size: 25px;
    font-weight: 600;
    color: #253f50;
    text-align: center;
    padding-top: 10px;
}
.call-head  p{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}
.easy-contact {
    width: 100%;
}
.form-box {
    background-color: #fff;
    box-shadow: 0  0 20px #eee;
    padding: 20px;
}
.forms-info {
    display: flex;
    flex-wrap: wrap;
}
.col-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.form-group .form-input {
    width: 100%;

}
.footer {
    background-color: #253f50;
    padding-top: 40px;
    padding-bottom: 30px;
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}
.footer-row {
    flex: 1 0 0;
}
.footer-row a {
    font-size: 30px;
    font-size: 600;
    padding-bottom: 25px;
    color: #f1f7fb;
}
.footer-row p {
    color: #f1f7fb;
    padding: 10px;
}
.footer-icons {
    padding-top: 20px;
    display: flex;
}
.footer-row .footer-icons a{
    height: 30px;
    width: 30px;
    background-color: #ccc;
    border-radius: 50%;
    line-height:25px ;
    /* display: flex; */
    text-align: center;

}
.footer-icons i{
    font-size: 20px;
}
.footer-row h4 {
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    font-size: 25px;
}
.footer-row ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-row ul li {
    margin-bottom: 30px;
}
.footer-row ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    transition: all 0.5s ease;
}
.footer-row ul li a span {
    transition: all 0.5s ease;
}
.footer-row ul li i {
    color: #2196f4;
}
.footer-row ul li a:hover span {
    color: #2196f4;
}
.col-4 {
    width: 33.33%;
    flex: 0 0 auto;
}
.message-box{
    display: flex;
    /* padding: 0; */
    /* margin: 0; */
}
.col-4 .message-box button {
    background-color: #2196f3;

}
.legel {
    background-color: #186294;
}
.legel-flex {
    display: flex;
    justify-content: center;
    height: 80px;
}
.legel-box {
    margin: 20px;
    padding: 15px;
}
.legel-box h5 {
    color: #eee;
    padding-bottom: 10px;
}
.legel-box h5 b {
    font-size: 20px;
    font-weight: bold;
}
.legel-box p{
    color: #eee;
    text-align: center;
}

    